mimetypealiases.dist.json
mimetypemapping.dist.json
libfileentropy.so
baselines.sqlite
magicbaseline.json
ncbaseline.json
namebaseline.json
pcascatter?.pdf
magic.pdf
nc.pdf
name.pdf
__pycache__/
simplefeatures.npz
simplefeatures.headers.json
simplefeatures.info.json
linear.pdf
classification_linear.npz
